PORT=your_port
CLIENT_URL=you_localhost

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=your_mysql_dabase_name

EMAIL_USER=otp_email_username
EMAIL_PASS=otp_email_password

SAP_URL=sap_url

JWT_SECRET=your_jwt_secret

CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
